body {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: bold;
    margin: 1%;
}

h1 {
    font-size: 70px;
    background: #ffdd57;
}

form {
    flex-direction: column;
}

/*ensure label and input boxes are aligned*/
label, input {
    display:inline-block !important;
    vertical-align: middle !important;
}

h2 {
    font-size: 60px;
}

input[type=number] {
    width: 6em;
}

#userOptions {
    background: hsl(0, 0%, 96%)	;
}

/*this class styles our grid*/
.container {
    position: relative;
    top: 30px;
    outline:2px solid #000;
    font-size: 0;
    margin:auto;
    height:500px;
    width:500px;
    padding: 0;
    border: none;
}

#colorPicker{
    width: 80px;
}

/*this class styles the boxes in our grid */
.grid {
    margin:0;
    padding:0;
    border:none;
    outline:1px solid #000;
    display:inline-block;
}

footer {
    margin-top: 10%;
}